.App {
  background-color: #353F5B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-heading {
  color: white;
  font-size: 80px;
}
.container{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex {
  display: flex;
  margin-bottom: 5px;
}

.add-btn :hover{
  transform: scale(1.1);
}
.input {
  padding: 10px;
  margin-right: 1px;
  background-color: #252C40;
  font-size: 25px;
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  max-width: 400px;
}

.todos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #423a6f;
  width: 55%;
  margin-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.todos:hover{
  transform: scale(1.1);
}
.add-btn{
  background: rgba(0, 0, 0, 0.3);
    padding: 0px;
    /* margin: 0px; */
    border: none;
    font-size: 25px;
    color: white;
    padding: 10px;
}
.trash-btn :hover{
  transform: scale(1.2);
}